
{% extends "recitales/main.html" %}
{% load static %}
{% block body %}
    <div class="descripcion">
        <div class="textoDescripcion"><h6>
            Para la realización de este proyecto se ustilizó Python Imaging Library (PIL) o tambien conocida como Pillow para el manejo y soporte de imágenes de diferentes formatos.
            <br>Las mismas imágenes se suben a la base de datos al crear las instancias de modelos dentro de http://127.0.0.1:8000/admin.
            <br>Asi mismo se generó una ruta dinámica a la capeta images/ configurada desde settings.py
        </h6></div>
    </div>
    <div class="row">
        {% for recital in recitales %}
        <div class="col-lg-4">
            <div class="box-element product">
                <div class="box-element product">
                    <img class="thumbnail" src="{{recital.imagen.url}}">
                    <div class="box-element product">
                        
                        <h6><strong>{{ recital.banda_artista }}</strong></h6>
                        <h6>{{ recital.establecimiento }}</h6>
                        <hr>
                        <h6>Fecha: {{ recital.fecha }}</h6>
                        <h6>Hoario: {{ recital.horario }}</h6>
                        <br>
                        <button data-recital="{{recital.id}}" data-action= "add" class="btn btn-outline-secondary add-btn update-recital">Hace tu reserva</button>
                        <a class="btn btn-outline-success" href="{% url 'reservas'%}">Ver tus reservas</a>
                        <h4 style="display: inline-block; float: right"><strong>${{recital.precio}}</strong></h4>
    
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    
{% endblock body%}