
{% extends "recitales/main.html" %}
{% load static %}
{% block body %}
    <!--
    <h1>Recital:</h1>
    <ul>
        {% for recital in recitales %}
            <li>Reci {{ recital.banda_artista }}{{ recital.horario }}</li>
        {% endfor %}
    </ul>
    <img src="{% static 'recitales\images\cuarteto-de-nos.jpg'%}" alt="cuarteto de nos">-->
    <div class="row">
        
        {% for recital in recitales %}
        <div class="col-lg-4">
            <div class="box-element product">
                <div class="box-element product">
                    <img class="thumbnail" src="{{recital.imagen.url}}">
                    <div class="box-element product">
                        
                        <h6><strong>{{ recital.banda_artista }}</strong></h6>
                        <h6>{{ recital.establecimiento }}</h6>
                        <hr>
                        <h6>Fecha: {{ recital.fecha }}</h6>
                        <h6>Hoario: {{ recital.horario }}</h6>
                        <br>
                        <button  class="btn btn-outline-secondary add-btn">Hace tu reserva</button>
                        <a class="btn btn-outline-success" href="{% url 'reservas'%}">Ver tus reservas</a>
                        <h4 style="display: inline-block; float: right"><strong>${{recital.precio}}</strong></h4>
    
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    
{% endblock body%}