
{% extends "recitales/main.html" %}
{% load static %}
{% block body %}
    <!--
    <h1>Recital:</h1>
    <ul>
        {% for recital in recitales %}
            <li>Reci {{ recital.banda_artista }}{{ recital.horario }}</li>
        {% endfor %}
    </ul>
    <img src="{% static 'recitales\images\cuarteto-de-nos.jpg'%}" alt="cuarteto de nos">-->
    <div class="row">
        <div class="col-lg-4">
            <div class="box-element product">
                <div class="box-element product">
                    <img class="thumbnail" src="{% static 'recitales\images\cardreference.png' %}">
                    <div class="box-element product">
                        
                        <h6><strong>Product</strong></h6>
                        <hr>
    
                        <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                        <a class="btn btn-outline-success" href="#">View</a>
                        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
    
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4">
            <div class="box-element product">
                <div class="box-element product">
                    <img class="thumbnail" src="{% static 'recitales\images\cardreference.png' %}">
                    <div class="box-element product">
                        
                        <h6><strong>Product</strong></h6>
                        <hr>
    
                        <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                        <a class="btn btn-outline-success" href="#">View</a>
                        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
    
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4">
            <div class="box-element product">
                <div class="box-element product">
                    <img class="thumbnail" src="{% static 'recitales\images\cardreference.png' %}">
                    <div class="box-element product">
                        
                        <h6><strong>Product</strong></h6>
                        <hr>
    
                        <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                        <a class="btn btn-outline-success" href="#">View</a>
                        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box-element product">
                <div class="box-element product">
                    <img class="thumbnail" src="{% static 'recitales\images\cardreference.png' %}">
                    <div class="box-element product">
                        
                        <h6><strong>Product</strong></h6>
                        <hr>
    
                        <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                        <a class="btn btn-outline-success" href="#">View</a>
                        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body%}