{% extends "recitales/main.html" %}
{% load static %}
{% block body%}
|   <div class="row">
	<div class="col-lg-12">
		<div class="box-element">
            <div class="box-element">
                <a  class="btn btn-outline-dark" href="{% url 'index' %}">&#x2190; Regresar </a>
                <br>
                <br>
                <table class="table">
                    
                    <tr>
                        <th><h5>Entradas: <strong>{{usuario.get_total_entradas}}</strong></h5></th>
                        <th><h5>Total a pagar:<strong> ${{usuario.get_total_compra}}</strong></h5></th>
                    </tr>
                    
                </table>
            </div>
		</div>

		<br>
        
		<div class="box-element">
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Conciertos</strong></div>
                    <div style="flex:1"><strong>Precio unidad</strong></div>
                    <div style="flex:1"><strong>Cantidad</strong></div>
                    <div style="flex:1"><strong>Total</strong></div>
                </div>
                {% for reserva in reservas %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{reserva.imagen.url}}"></div>
                    <div style="flex:2"><p>{{ reserva.recital.banda_artista}}</p></div>
                    <div style="flex:1"><p>${{reserva.recital.precio}}</p></div>
                    <div style="flex:1">
                        <p class="quantity">{{reserva.cantidad_entradas}}</p>
                        <div class="quantity">
                            <img class="chg-quantity" src="{% static  'recitales/images/arrow-up.png' %}">
                    
                            <img class="chg-quantity" src="{% static  'recitales/images/arrow-down.png' %}">
                        </div>
                    </div>
                    <div style="flex:1"><p>${{ reserva.get_total }}</p></div>
                </div>
                {% endfor %}
		</div>
        
	</div>
</div>
{% endblock body%}